# Accept the VMware End User License Agreement
vmaccepteula

# Set the root password for the DCUI and Tech Support Mode
rootpw --iscrypted $6$Q8pK40IBYg5YqQik$tPhTqVeL2paHjkKuL9.gzJcKnkb9ts7.IYylnJ58PbJmPtx4V/2YZ5QiEnE3Ii3RXcQS3BJ2

#for Local boot
DISKIDPLACEHOLDER

# Set the network to use a static IP on the first network adapter

network --bootproto=static --ip=20.20.20.6 --netmask=255.255.255.0 --gateway=20.20.20.1 --hostname=myhost --nameserver=20.20.20.7

%pre --interpreter=busybox
hwclock -d %LIVE_VAR_DATE_1% -t %LIVE_VAR_TIME_UTC_1%
date -s %LIVE_VAR_DATE_TIME_UTC_1%
cd /tmp

%firstboot --interpreter=busybox
cd /tmp
esxcfg-vswitch -A 'VM Network' vSwitch0

###############################
# enable & start remote ESXi Shell  (SSH)
###############################
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

# enable & start remote ESXi Shell  (SSH)
###############################
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh

###############################
# enable & start ESXi Shell (TSM)
###############################
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell

esxcli system hostname set --host=dff

# Script executed for configuration to be retained after secure boot is enabled
/sbin/backup.sh 0
sleep 15

%post --interpreter=busybox --ignorefailure=true

ESXI_INSTALL_LOG=/var/log/esxi_install.log
echo \"OS INSTALL COMPLETED\" >>   /var/log/Xinstall.log
/opt/ucs_tool_esxi/ucs_ipmitool write_file  /var/log/Xinstall.log osProgress.log

cd /tmp
localcli network firewall set --default-action true
localcli network firewall set --enabled false

localcli network firewall set --default-action false
localcli network firewall set --enabled true

# Let us poweroff/shutdown our selves.
reboot